configuration {         
    theme: "fullscreen";         
    modi: "Scripts:./scripts.sh,drun,calc";
    display-drun: "Apps";
    display-calc: "Calculator";
}

@import "base.rasi"
@import "icon-large.rasi"
@import "element-vertical.rasi"

listview {
    dynamic: false;
    fixed-columns: true;
    fixed-lines: true;
    columns: 4;
    lines: 5;
}

